<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">
                <a href="/"><img class="logo" src="/assets/images/logo.svg" /> BauPi</a>
            </li>
            <li><a href="/pictures/current">Pictures</a></li>
            <li><a href="/video">Video</a></li>
        </ul>
    </div>
    <div class="top-bar-right">

    </div>
</div>
