<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BauPi - {{{ title }}}</title>
    <meta name="author" content="ochorocho">

    <link rel="stylesheet" href="/modules/css/foundation.css">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body>

{{> header}}

<div class="grid-container">
    {{> flash}}

    {{{body}}}
</div>

<script src="/assets/scripts/app.js"></script>
</body>
</html>
